<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>0</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Test Step,min,max,avg,last,cnt,tps,bytes,bps,err,rat&quot; &gt; LoadTest_1-statistics.txt
echo &quot;validateLogin,122889,385324,277412.4,385324,600,1.54,3950360,10181,112,18&quot; &gt;&gt; LoadTest_1-statistics.txt
echo &quot;TestCase:,122889,385324,277412.4,385324,600,1.54,3950360,10181,112,18&quot; &gt;&gt; LoadTest_1-statistics.txt
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.plot.PlotPublisher plugin="plot@1.5">
      <plots>
        <hudson.plugins.plot.Plot>
          <title>Response Time</title>
          <yaxis>response time (ms)</yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>LoadTest_1-statistics.txt</file>
              <label></label>
              <fileType>csv</fileType>
              <strExclusionSet>
                <string>min</string>
                <string>max</string>
                <string>avg</string>
              </strExclusionSet>
              <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
              <exclusionValues>min,max,avg</exclusionValues>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>Response Time</group>
          <numBuilds></numBuilds>
          <csvFileName>1924416280.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>errors</title>
          <yaxis></yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>LoadTest_1-statistics.txt</file>
              <label></label>
              <fileType>csv</fileType>
              <strExclusionSet>
                <string>cnt</string>
                <string>err</string>
              </strExclusionSet>
              <inclusionFlag>INCLUDE_BY_STRING</inclusionFlag>
              <exclusionValues>cnt,err</exclusionValues>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>Errors</group>
          <numBuilds></numBuilds>
          <csvFileName>671376780.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
  </publishers>
  <buildWrappers/>
</project>
